body{
    text-align: center;
    background-color: aqua;
    
}

img{
    width:600px;
    height: 600px;
    border-style: dashed;
    border-width: 10px;
    border-color: blueviolet;
}